<!DOCTYPE html>
<html>
<head>
    <title>FindOut</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <link rel='stylesheet' href="/stylesheets/ivo.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <header>
        <div class="navbar navbar-default navbar-fixed-top text-uppercase navbarClour">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand ">Doubt? Let's find out!</a>
                </div>
            </div>
        </div>
    </header>
    {{#if error }}
        <h2>{{error}}</h2>
    {{/if}}
    {{{body}}}
    <footer>
        <div class="container modal-footer">
            <p>&copy; 2017 -  <a target="_blank" href="https://www.linkedin.com/in/ivo-christov-a608b49b/">Ivo Hristov</a></p>
        </div>
    </footer>
</body>
</html>
