.custom-well {
    background: #a8a8a8;
}
.btncolour{
    background: #b4267b;
    color: white;
    border-color: #892586;
    font-weight: 600;
}
.btncolour:hover {
    background: #731a4d;
    color: white;
    border-color: #892586;
}
.btncolour2:active{
    background: #b4267b;
    color: white;
}
.boxdisabled{
    background-color: white;
}
.navbarClour{
    background: #b4267b;
}
.boxBorder{
    border-color: #892586;
}
input[type="text"][disabled] {
    color: black;
    background-color: #f9f8f6;
}



